<div class="mainpage">
<div class="container">
<div class="sidebar-header">
    <div class="navigationBar ">
       <button id="sidebarToggle" data-bs-toggle="collapse" href="#collapseExample" role="button" class="btn sidebarToggle navbar-toggler-humburger-icon navbar-vertical-toggle">       
           <i class="fas fa-bars fa-1x"></i>
       </button>
    </div>
    <div class="logo-container">
        <p class="logo-sidebar">Amin Pannel</p>
     </div>
</div>

 <div class="sidebar-body" id="collapseExample">
    <ul class="navigation-list">
        <li class="navigation-list-item">
            <a href="/" class="navigation-link active">
                <div class="col-2">
                    <i class="fa-solid fa-house-chimney"></i>
                </div>
                <div class="col-10">
                          Dashboard
                </div>
            </a>
              </li>
        <li class="navigation-list-item">
            <a href="/" class="navigation-link">
                <div class="col-2">
                   <i class="fa-solid fa-user"></i>
                </div>
                <div class="col-10">
                  Profile
                </div>
            </a>
        </li>
        <li class="navigation-list-item">
            <a href="/" class="navigation-link">
               <div class="col-2">
                    <i class="fa-solid fa-gear"></i>
                 </div>
                <div class="col-10">
                    Setting
                </div>
            </a>
        </li>
            <li class="navigation-list-item">
                <a href="/" class="navigation-link">
                    <div class="col-2">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </div>
                    <div class="col-10">
                        Order
                    </div>
                </a>
            </li>
        <li class="navigation-list-item">
            <a href="/" class="navigation-link">
                <div class="col-2">
                      <i class="fa-solid fa-gauge"></i>
                </div>
                    <div class="col-10">
                        Payment History
                    </div>
            </a>
        </li>
        <li class="navigation-list-item">
            <a href="/" class="navigation-link">
                <div class="col-2">
                      <i class="fa-solid fa-gauge"></i>
                </div>
                    <div class="col-10">
                        Payment History
                    </div>
            </a>
        </li>
        <li class="navigation-list-item">
            <a href="/" class="navigation-link">
                <div class="col-2">
                      <i class="fa-solid fa-gauge"></i>
                </div>
                    <div class="col-10">
                        Payment History
                    </div>
            </a>
        </li>
        <li class="navigation-list-item">
            <a href="/" class="navigation-link">
                <div class="col-2">
                      <i class="fa-solid fa-gauge"></i>
                </div>
                    <div class="col-10">
                        Payment History
                    </div>
            </a>
        </li>
        <li class="navigation-list-item">
            <a href="/" class="navigation-link">
                <div class="col-2">
                      <i class="fa-solid fa-gauge"></i>
                </div>
                    <div class="col-10">
                        Payment History
                    </div>
            </a>
        </li>
        <li class="navigation-list-item">
            <a href="/" class="navigation-link">
                <div class="col-2">
                      <i class="fa-solid fa-gauge"></i>
                </div>
                    <div class="col-10">
                        Payment History
                    </div>
            </a>
        </li>
        <li class="navigation-list-item">
            <a href="/" class="navigation-link">
                <div class="col-2">
                      <i class="fa-solid fa-gauge"></i>
                </div>
                    <div class="col-10">
                        Payment History
                    </div>
            </a>
        </li>
        <li class="navigation-list-item">
            <a href="/" class="navigation-link">
                <div class="col-2">
                      <i class="fa-solid fa-gauge"></i>
                </div>
                    <div class="col-10">
                        Payment History
                    </div>
            </a>
        </li>
    </ul>
  </div>
   <div class="content">

   </div>
</div>   
</div>