<!-- Table -->
<div class="container mt-5">
    <table class="table table-responsive-sm table-hover table-bordered">
        <thead>
          <tr class="table-dark text-center">
            <th scope="col">Sl.</th>
            <th scope="col">Name</th>
            <th scope="col">Email Id</th>
            <th scope="col">Password</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prod of users" class="text-center">
            <td>{{prod?.sl | uppercase }}</td>
            <td>{{prod?.name }}</td>
            <td>{{prod?.email }}</td>
            <td>{{prod?.pass }}</td>
            <td><a class="btn btn-success" href="#" role="button">Edit</a></td>
            <td><a class="btn btn-danger" href="#" role="button">Delete</a></td>
          </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
</div> 